body {
  background: rgb(162, 132, 112);
  background: linear-gradient(
    0deg,
    rgba(162, 132, 112, 1) 6%,
    rgba(201, 166, 143, 1) 100%
  );
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
}

.display,
.complete-operation {
  width: 100%;
  background-color: aliceblue;
  height: 50px;
  border: 1px solid #000;
  margin-bottom: 10px;
  font-size: 19px;
  text-align: right;
  padding: 5px;
  overflow: auto;
}

.complete-operation {
  height: 30px;
}

.buttons {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr);

  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
}

.calculator-container {
  background-color: #8fb2c9;
  width: 300px;
  height: 400px;
  position: relative;
  padding: 50px 10px;
  box-shadow: -7px 17px 22px -3px rgba(41, 41, 41, 1);
}

.circles-img {
  width: 80px;
  opacity: 70%;
  position: absolute;
  left: 63%;
  filter: drop-shadow(0px 0px 5px #00000033);
  display: flex;
}

.grey-img {
  width: 20px;
  display: flex;
  position: absolute;
  filter: drop-shadow(0px 0px 5px #00000033);
  top: 2%;
  left: 3%;
}
